/*
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */
BODY {
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  text-align: justify;
}

H1 {
  border-width: 2px;
  border-style: ridge;
  border-color: #cccccc;
  background-color: #ddddff;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  padding: 2px;
}

H2 {
  border-width: 2px;
  border-style: ridge;
  border-color: #cccccc;
  background-color: #eeeeff;
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
  padding: 2px;
}

H3 {
  font-size: 10pt;
  font-weight: bold;
  text-align: left;
}
  
H4 {
  font-size: 8pt;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

P {
  margin-left: 20px;
}

P.note {
  border-width: 1px;
  border-style: ridge;
  border-color: #cccccc;
  background-color: #ffffee;
  font-size: 8pt;
  font-weight: normal;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
  padding: 4px;
}

P.copyright {
  font-size: 8pt;
  font-weight: normal;
  text-align: center;
}

PRE {
  border-width: 1px;
  border-style: ridge;
  border-color: #cccccc;
  background-color: #eeeeee;
  font-size: 8pt;
  font-weight: normal;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  padding: 4px;
}

CODE {
  font-size: 8pt;
  white-space: pre;
  font-weight: normal;
}

EM.key {
  color: #000099;
  font-style: normal;
  white-space: pre;
}

EM.ref {
  color: #990000;
  font-style: normal;
  white-space: pre
}

EM.com {
  color: #009900;
  font-style: normal;
  white-space: pre
}

OL {
  list-style: decimal outside;
  font-size: 10pt;
}

OL OL {
  list-style: lower-alpha outside;
  font-size: 8pt;
}

A:link {
  color: #0000ee;
  text-decoration: none;
  white-space: pre;
}

A:visited {
  color: #0000ee;
  text-decoration: none;
  white-space: pre;
}

A:active {
  color: #0000ee;
  text-decoration: none;
  white-space: pre;
}
