/bin/
/.settings/
/.classpath
/.project
/src/native/unix/Makedefs
/src/native/unix/Makefile
/src/native/unix/autom4te.cache/
/src/native/unix/config.log
/src/native/unix/config.nice
/src/native/unix/config.status
/src/native/unix/configure
/src/native/unix/jsvc
/src/native/unix/native/*.o
/src/native/unix/native/Makefile
/src/native/unix/native/libservice.a
/src/native/unix/support/config.guess
/src/native/unix/support/config.sub
/src/native/windows/apps/prunmgr/*_GUI_RELEASE
/src/native/windows/apps/prunsrv/*_RELEASE
/target/
**/.vs/
/commons-daemon.iml
